@import url(style.css);

main h3,
h4,
span {
    font-weight: bold;
}

section p,
ul li {
    font-weight: 600;
    text-align: justify;
}

section ul li {
    list-style: none;
    margin: 0.5rem 0;
}